{% extends 'base-backend.html.twig' %}

{% block title %}Nouvelle Promo{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_promo_index') }}" class="btn btn-orange btn-sm mb-2">Retour a la liste</a>
    <h1>Nouvelle Promo</h1>

    {{ include('admin_promo/_form.html.twig') }}

{% endblock %}
{% block javascripts %}
<script>
$('.select2').select2();
</script>
{% endblock %}
