<h1>Bienvenue dans la librairie</h1>

    <p>
        Veuillez connfirmer votre adresse email en cliquant sur le lien ci-dessous.
        <br><br>
        <a href="{{ signedUrl|raw }}">Confirmer votre email</a>.
        Ce lien expirera dans
        {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>
    
    <p>
        Merci!
    </p>