{# <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nouveau message</h1>
        <ul>
            <li>Message de : {{ qui }} </li>
            <li>{% if sujet is not null %} Sujet : {{ sujet }} {% endif %}</li>
            <li>{{ message }}</li>
        </ul>
    
</body>
</html> #}