{% extends 'base.html.twig' %}

{% block title %}email de recuperation de mot de passe envoyer {% endblock %}

{% block body %}
    <p>
        Si votre compte existe un email vous a été envoyé avec un lien pour réinitialiser votre mot de passe.
        Ce lien expire dans{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez le mail veuillez vérifiez dans les spams ou sinon <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
{% endblock %}
