{% extends 'base-backend.html.twig' %}

{% block title %}Modifier Pizza{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_pizza_index') }}" class="btn btn-orange btn-sm mb-2">Retour a la liste</a>
    
        <div class="d-flex justify-content-between align-items-center">

    <h1>Modifier Pizza</h1>

                {{ include('admin_pizza/_delete_form.html.twig') }}

        </div>
        
        {{ include('admin_pizza/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
{% block javascripts %}
<script>
$('.select2').select2();
</script>
{% endblock %}
