{% extends 'base-backend.html.twig' %}

{% block title %}Nouveau Dessert{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_dessert_index') }}" class="btn btn-orange btn-sm mb-2">Retour a la liste</a>
    <h1>Nouveau Dessert</h1>

    {{ include('admin_dessert/_form.html.twig') }}

{% endblock %}
