<form method="post" action="{{ path('app_admin_reseau_social_delete', {'id': reseau_social.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce réseau social ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reseau_social.id) }}">
<button class="btn btn-red"><i class="align-middle" data-feather="trash"></i></button>
</form>
