{% extends 'base-backend.html.twig' %}

{% block title %}Nouveaux Reseau social{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_reseau_social_index') }}" class="btn btn-orange btn-sm mb-2">Retour a la liste</a>
    <h1>Nouveaux Reseau social</h1>

    {{ include('admin_reseau_social/_form.html.twig') }}

{% endblock %}
