<form method="post" action="{{ path('app_admin_boisson_delete', {'id': boisson.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette boisson ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ boisson.id) }}">
<button class="btn btn-red"><i class="align-middle" data-feather="trash"></i></button>
</form>
