<form method="post" action="{{ path('app_admin_extra_delete', {'id': extra.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette extra ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ extra.id) }}">
<button class="btn btn-red"><i class="align-middle" data-feather="trash"></i></button>
</form>
