{% extends 'base-backend.html.twig' %}

{% block title %}Modifiée les Conditions Générales de Vente{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_cgv_index') }}" class="btn btn-orange btn-sm mb-2">Retour a la liste</a>
    
        <div class="d-flex justify-content-between align-items-center">

            <h1>Modifiée les Conditions Générales de Vente</h1>

                {{ include('admin_cgv/_delete_form.html.twig') }}

        </div>
        
        {{ include('admin_cgv/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
