<form method="post" action="{{ path('app_admin_canette_delete', {'id': canette.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette canette ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ canette.id) }}">
<button class="btn btn-red"><i class="align-middle" data-feather="trash"></i></button>
</form>
